$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-mine-shaft: #1f1f1f;
$color-saffron-mango: #fbce51;
$color-alto: #d6d6d6;
$color-night-rider: #313131;
$color-azure: #3057a2;
$color-flamingo: #f54932;
$color-chicago: #595653;
$color-pearl-bush: #E9DED4;
$fz-default: 16px;
$ff-rouble: "Rouble", "Arial", sans-serif;
$ff-fallback: "Arial", "sans-serif";
$ff-placeholder: "Golos Text", "Arial", sans-serif;
$ff-golos-text: "Golos Text", $ff-fallback;
$ff-merriweather: "Merriweather";
$tf-default: ease;
$trans-default: all 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;
$vp-375: 375px;
$vp-1366: 1366px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
